.app-container {
  font-family: sans-serif;
}

.search-header {
  display: flex;
  gap: 12px;
  max-width: 320px;
  padding: 1em;
}

.grid-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
